@keyframes swing {
  20% {
    transform: rotate3d(0, 0, 1, 15deg);
  }

  40% {
    transform: rotate3d(0, 0, 1, -10deg);
  }

  60% {
    transform: rotate3d(0, 0, 1, 5deg);
  }

  80% {
    transform: rotate3d(0, 0, 1, -5deg);
  }

  to {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

#swing {
  font-weight: 900;
  font-size: 20px;
  transform-origin: top center;
  animation-name: swing;
  transition:3s;
  animation-timing-function:ease ease-in;
  -webkit-animation-name: swing;
  animation-duration: 15s;
  animation-delay: 1ms;
  animation-direction: normal;
  animation-iteration-count: 1;
}


@keyframes jello {
  from,
  11.1%,
  to {
    transform: translate3d(0, 0, 0);
  }

  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg);
  }

  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg);
  }

  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg);
  }

  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg);
  }

  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg);
  }

  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg);
  }

  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg);
  }
}

#headShake {
  animation-name: jello;
  transform-origin: center;
  transition:3s;
  animation-timing-function:ease ease-in;
  -webkit-animation-name:jello;
  animation-duration: 15s;
  animation-delay: 1ms;
  animation-direction: normal;
  animation-iteration-count: 1;
}









@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar {
  /* width: 150px; */
  /* height: 150px; */
  box-sizing: border-box;
  /* border: 5px white solid; */
  /* border-radius: 50%; */
  overflow: hidden;
  /* box-shadow: 0px 5px 15px  rgb(255, 255, 255); */
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  /* img { width: 100%; height: auto; } */
}

.content {
  width: 100%;
  max-width: 600px;
  padding: 20px 40px;
  box-sizing: border-box;
  text-align: center;
}

.suppoprt-me {
  display: inline-block;
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 20vw;
  max-width: 250px;
  min-width: 200px;
  z-index: 9;
img {
    width: 100%;
    height: auto;
  }
}